body {
    background-color: #F7F5EF;
/*    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2013/12/11/191759/ae5fb76ec7d4e6e611258b64cb4ed5fb-1000.jpg);
        min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;*/
    font-family: 'Monofur', Arial, sans-serif;

    margin-top: 2rem;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header {
    color: #333;
    font-size: 2rem;
    text-align: center;
}

main {
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    font-size: 150%;
    margin: 0 0 1em 0;
}

table {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem 0 1rem;
    table-layout: fixed;
}

td {
    vertical-align: top;
}

ol {
    padding-left: 3.5rem;
}

li {
    font-size: 100%;
}

.imrule {
    color: #CA2518;
}

.murule {
    color: #0A67BD;
}


/* Dynamic Webpaging */

#rules {
    display: block;
}

#player-roster {
    display: none;
}

#changelog {
    display: none;
}



/* Misc */
a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #333;
}

.button {
    background-color: #F7F5EF;
    border: solid 1px #333;
    border-radius: 4px;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

/*.button:hover {
    background-color: #333; 
    color: #F7F5EF;
}*/

.button:active {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    background-color: #ddd;

}

.button:focus {
    outline:0;
}

@font-face {
    font-family: "Monofur";
    src: url("../fonts/monof55.ttf");
}