body {
    background-color: #F7F5EF;
/*    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2013/12/11/191759/ae5fb76ec7d4e6e611258b64cb4ed5fb-1000.jpg);
        min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;*/
    font-family: 'Monofur', Arial, sans-serif;

    margin-top: 1rem;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header {
    color: #333;
    font-size: 2rem;
    text-align: center;
}

main {
    width: 80%;
    margin: auto;
}


.subtitle {
    font-size: 1rem;
}

/* Dynamic Webpaging */

#option1 {
    display: block;
}

#option2 {
    display: none;
}



/* Misc */
@font-face {
    font-family: "Monofur";
    src: url("../fonts/monof55.ttf");
}